.DraftEditor-root {
  position: relative;
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
}

.public-DraftEditorPlaceholder-root .public-DraftEditorPlaceholder-inner {
  opacity: 0.3;
}
